xarray>=0.19.0
pytest
netCDF4
datetime
numpy
pyyaml
cdsapi
pandas<=1.0.5  # datetime indexing broken with 1.1.0, https://github.com/pydata/xarray/issues/4283
scipy
argparse
dask[array]
asciitree
isodate
psutil
semver==2.13.0
